<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<title>pinnet</title>

<!-- External CSS -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
  integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
  crossorigin="anonymous"/>
<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css"/>
<link rel="stylesheet" href="/vendor/border-box.css" type="text/css"/>

<!-- App CSS -->
<link rel="stylesheet" href="/styles/layout.css" type="text/css"/>

<!-- External JS -->
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script
  src="https://kit.fontawesome.com/33ce7db85d.js"
  crossorigin="anonymous"></script>

<!-- App JS -->
<script type="text/javascript" src="/scripts/desc-overflow.js"></script>
<script type="text/javascript" src="/scripts/sidebar-collapse.js"></script>
<script type="text/javascript" src="/scripts/show-toggle.js"></script>
