<body>
  <!-- Sidebar  -->
  <div class="sidebar">
    <div class="sidebar-header">
      <div class="logo-icon"></div>
      <h1>pinnet</h1>
    </div>

    <div class="menu">
      <button>Home</button>
      <button>Explore</button>
    </div>

    <div class="logins">
      <a href="/login"><button>Login</button></a>
      <a href="/register"><button>Register</button></a>
    </div>
  </div>
