<div class="sidebar">
  <div class="sidebar-container">
    <a href="/" class="sidebar-header">
      <div class="logo-icon"></div>
      <h1>pinnet</h1>
    </a>

    <!-- User is logged in -->
    <% if (userId) { %>
    <div class="menu">
      <a href="/">Explore</a>
      <a href="/users/<%= userId %>">My Pins</a>
      <div class="create-pin fas fa-plus"></div>
    </div>

    <div class="logins">
      <form class="form-inline" method="POST" action="/logout">
        <button>Log Out</button>
      </form>
    </div>

    <!-- User is not logged in -->
    <% } else { %>
    <div class="menu">
      <a href="/">Explore</a>
    </div>

    <div class="logins">
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </div>
    <% } %>
  </div>
</div>
