<!-- edit pin form -->
<div class="edit fas fa-edit">
  <div class="edit-form hide">
    <div class="edit-content">
      <div class="form-close">+</div>
      <div class="form-head">
        <h2>Editing <%= pin.title %></h2>
        <hr />
      </div>
  </div>
</div>
