/* ---------------------------------------------------
  CUSTOM FONTS
----------------------------------------------------- */

@font-face {
  font-family: "Gotham Black";
  src: url(fonts/Gotham-Black.otf);
}

@font-face {
  font-family: "Gotham Bold";
  src: url(fonts/Gotham-Bold.otf);
}

@font-face {
  font-family: "Gotham Light";
  src: url(fonts/Gotham-Light.otf);
}

/* ---------------------------------------------------
  GENERAL LAYOUT
----------------------------------------------------- */

body {
  width: 100%;
  height: 100%;

  background-attachment: fixed;
  background-image: linear-gradient(30deg, #5143B9, #44A8C4);
}

/* Override all button style defaults */
button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.checked {
  color: orange;
}

.content {
  width: calc(100% - 250px);
  height: 100%;
  padding: 50px;
  min-height: 100vh;
  transition: all 0.3s;
  top: 0;
  right: 0;

  position: fixed;

  background-color: #FCFCFC;

  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.content.active {
  width: 100%;
}

.content-body {
  height: 100%;
}

h2 {
  font-family: "Gotham Black", sans-serif;
}

/* ---------------------------------------------------
  SIDEBAR
----------------------------------------------------- */

.logins {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 25px;

  font-size: 0.8em;
}
.logins a {
  text-decoration: none;
  color: #FFFFFF;
}

.logins button:before,
.menu button::before {
  content: "";
  width: 100%;
  height: 0.5px;
  bottom: 0;
  left: 0;

  background-color: #FFFFFF;

  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.logins button:focus,
.menu button:focus {
  outline: none;
  box-shadow: none;
}

.logins button:hover:before,
.menu button:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.logo-icon {
  width: 60%;
  height: 80px;

  margin-bottom: 15px;

  background: url(images/logo-icon.svg) no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotate(135deg);
}

.menu {
  font-size: 1.2em;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

  margin-bottom: 200px; /* remove this when figure out flexbox */
}

.sidebar {
  width: 250px;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  font-family: "Gotham Light", sans-serif;
  color: #FFFFFF;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
  top: 10vh;

  transition: all 0.3s;
}

.sidebar.active {
  margin-left: -250px;
}

.sidebar a {
  text-decoration: none;
  color: #FFFFFF;
}

.sidebar button {
  cursor: pointer;
  padding: 5px 10px;
}

.sidebar-header {
  margin: 50px;

  font-family: "Gotham Black", sans-serif;
  text-decoration: none;
  color: #FFFFFF;

  display: flex;
  flex-direction: column;
  align-items: center;
}


/* ---------------------------------------------------
  SIDEBAR TOGGLE
----------------------------------------------------- */

#sidebarCollapse {
  width: 50px;
  height: 50px;

  border: none;

  font-size: 25px;
  color: #ABABAB;

  border: #ABABAB 2px solid;
  border-radius: 10px;
}

#sidebarCollapse:hover {
  color: #5143B9;

  border: #5143B9 2px solid;
}

/* ---------------------------------------------------
  EXPLORE PAGE
----------------------------------------------------- */

.explore {
  width: 100%;
  height: 100%;

  padding: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;

  overflow-y: scroll;

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #ABABAB;
    border-radius: 15px;
  }

  ::-webkit-scrollbar-thumb:hover{
    background: #5143B9;
  }

  ::-webkit-scrollbar-track{
    background: #FCFCFC;
    border-radius: 15px;
  }
}

/* ---------------------------------------------------
  CARDS (SMALL)
----------------------------------------------------- */

.card-sm h2 {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;

  font-size: 1.5em;

  cursor: pointer;
}

.card-sm h2:hover {
  color: #5143B9;
}

.card-sm {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card-sm footer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  visibility: hidden;

  color: #ABABAB;
}

.card-sm header {
  width: 100%;
  height: 200px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;

  border: #EEEEEE 2px solid;
  border-radius: 25px;
}

.card-sm header:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(171, 171, 171, 0.3);
  -moz-box-shadow: 0px 0px 15px 0px rgba(171, 171, 171, 0.3);
  box-shadow: 0px 0px 15px 0px rgba(171, 171, 171, 0.3);
  border-radius: 25px;
}

.card-sm:hover footer {
  visibility: unset;
}

.card-sm-avg-rating {
  display: flex;
  flex-direction: row;

  font-size: 0.8em;
}

.card-sm-image {
  width: 160px;
  height: 160px;

  background-color: #44A8C4;
  border-radius: 25px;
}

.card-sm-image img {
  max-width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}

.card-sm-info {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-height: 160px;
}

.card-sm-info p {
  font-size: 0.8em;

  overflow: hidden;
}

.card-sm-link {
  display: flex;
  flex-direction: row;
}

.external-link-alt {
  font-size: 0.8em;
}

.link {
  color: #ABABAB;
}

.link:hover {
  color: #5143B9;
}

/* ---------------------------------------------------
  PIN AND LIKES
----------------------------------------------------- */

.fa-heart:hover {
  color: #5143B9;
}

.fa-plus-square:hover {
  color: #5143B9;
}

.like {
  display: flex;
  flex-direction: row;
}

.like-counter {
  font-size: 0.8em;
}

/* ---------------------------------------------------
  AUTH STYLES
----------------------------------------------------- */

.auth {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth form {
  width: 50%;
}
.auth form .container {
  display: flex;
  justify-content: space-between;
}

/* ---------------------------------------------------
  CARD MODAL POPUP
----------------------------------------------------- */

#screen, #modal {
  display: none;
  position: absolute;
}

#screen {
  // Aligns the screen to take up the container.
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: rgba(0, 0, 0, 0.7);
  z-index: 1;

  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#modal {
  // Centers the modal in the middle of the container.
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: calc(100% - 200px);
  width: calc(100% - 15vw);
  z-index: 2;

  padding-right: 50px;
  padding-left: 50px;

  background: #FCFCFC;
  border: 10px solid #516BFD;

  font-family: "Gotham Light", sans-serif;

  overflow-y: scroll;

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #ABABAB;
    border-radius: 15px;
  }

  ::-webkit-scrollbar-thumb:hover{
    background: #5143B9;
  }

  ::-webkit-scrollbar-track{
    background: #FCFCFC;
    border-radius: 15px;
  }

  border-radius: 25px;

  // !!!! Really laggy for me so commented out for now.
  // animation: fadeIn ease 0.7s;

  // @keyframes fadeIn {
  //   0% {
  //     opacity: 0;
  //   }
  //   100% {
  //     opacity: 1;
  //   }
  // }
}

.close {
  color: #ABABAB;
  font-size: 2vw;

  cursor: pointer;
}

.close:hover {
  color: #5143B9;
}

.modal-container {
  display: flex;
  flex-direction: column;

  padding-top: 15px;
}

.modal-container header {
  display: flex;
  flex-direction: row;
}

.modal-creator-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.modal-creator-name {
  font-size: 0.8em;
}

.modal-creator-time {
  font-size: 0.6em;
}

.modal-image {
  width: 300px;
  height: 300px;

  margin-right: 25px;

  background-color: #44A8C4;
  border-radius: 25px;
}

.modal-image img {
  max-width: 100%;
  height: 100%;

  object-fit: cover;

  border-radius: inherit;
}

.modal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-link {

  margin-bottom: 30px;

  font-size: 2em;
}

.modal-nav {
  position: sticky;
  top: 0;
  width: 100%;

  padding-top: 25px;
  padding-bottom: 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: #FCFCFC;

  z-index: 99;
}

/* ---------------------------------------------------
  SEARCH BAR
----------------------------------------------------- */

#search {
  background: #EEEEEE;
  color: #ABABAB;
  border-radius: 50px;
}

#search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ABABAB;
  opacity: 1; /* Firefox */
}

#search:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ABABAB;
}

#search::-ms-input-placeholder { /* Microsoft Edge */
  color: #ABABAB;
}



/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  .sidebar {
    margin-left: -250px;
  }
  .sidebar.active {
    margin-left: 0;
  }
  .content {
    width: 100%;
  }
  .content.active {
    width: calc(100% - 250px);
  }
}
