/* ---------------------------------------------------
  CUSTOM FONTS
----------------------------------------------------- */

@font-face {
  font-family: "Gotham Black";
  src: url(fonts/Gotham-Black.otf);
}

@font-face {
  font-family: "Gotham Bold";
  src: url(fonts/Gotham-Bold.otf);
}

@font-face {
  font-family: "Gotham Light";
  src: url(fonts/Gotham-Light.otf);
}

/* ---------------------------------------------------
  GENERAL LAYOUT
----------------------------------------------------- */

body {
  width: 100%;
  height: 100%;

  background-attachment: fixed;
  background-image: linear-gradient(30deg, #5143b9, #44a8c4);
}

/* Override all button style defaults */
button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.checked {
  color: orange;
}

.like-count {
  color: #cb3365;
}

.content {
  width: calc(100% - 250px);
  height: 100%;
  padding: 50px;
  min-height: 100vh;
  transition: all 0.3s;
  top: 0;
  right: 0;

  position: fixed;

  background-color: #fcfcfc;

  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.content.active {
  width: 100%;
}

.content-body {
  height: 100%;
}

h2 {
  font-family: "Gotham Black", sans-serif;
}

/* ---------------------------------------------------
  SIDEBAR
----------------------------------------------------- */

.logins {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 25px;

  font-size: 0.8em;
}
.logins a {
  text-decoration: none;
  color: #ffffff;
}

.logins button:before,
.menu button::before {
  content: "";
  width: 100%;
  height: 0.5px;
  bottom: 0;
  left: 0;

  background-color: #ffffff;

  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.logins button:focus,
.menu button:focus {
  outline: none;
  box-shadow: none;
}

.logins button:hover:before,
.menu button:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.logo-icon {
  width: 60%;
  height: 80px;

  margin-bottom: 15px;

  background: url(images/logo-icon.svg) no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotate(135deg);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  font-size: 1.2em;
}

.sidebar {
  width: 250px;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  font-family: "Gotham Light", sans-serif;
  color: #ffffff;

  transition: all 0.3s;
}

.sidebar.active {
  margin-left: -250px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  position: relative;
  top: 10vh;
}

#mCSB_1:active,
#mCSB_1:hover,
#mCSB_1:focus {
  outline: 0;
}

.sidebar a {
  text-decoration: none;
  color: #ffffff;
}

.sidebar button {
  cursor: pointer;
  padding: 5px 10px;
}

.sidebar-header {
  font-family: "Gotham Black", sans-serif;
  text-decoration: none;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---------------------------------------------------
  SIDEBAR TOGGLE
----------------------------------------------------- */

#toggle {
  position: absolute;
}

#sidebarCollapse {
  width: 50px;
  height: 50px;

  border: none;

  font-size: 25px;
  color: #ababab;

  border: #ababab 2px solid;
  border-radius: 10px;
}

#sidebarCollapse:hover {
  color: #5143b9;

  border: #5143b9 2px solid;
}

#sidebarCollapse:active,
#sidebarCollapse:focus {
  outline: 0;
}

/* ---------------------------------------------------
  EXPLORE PAGE
----------------------------------------------------- */

.explore {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;

  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 12px; /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

/* ---------------------------------------------------
  CARDS (SMALL)
----------------------------------------------------- */

.display-header {
  cursor: pointer;
}

.card-sm h2 {
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;

  font-size: 1.5em;

  cursor: pointer;
}

.card-sm h2:hover {
  color: #5143b9;
}

.card-sm {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card-sm footer {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  width: 100%;

  visibility: hidden;

  font-size: 1em;
  color: #ababab;

  padding-top: 5px;
  padding-right: 25px;
}

.card-sm header {
  width: 100%;
  height: 200px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;

  border: #eeeeee 2px solid;
  border-radius: 25px;
}

.card-sm header:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(171, 171, 171, 0.3);
  -moz-box-shadow: 0px 0px 15px 0px rgba(171, 171, 171, 0.3);
  box-shadow: 0px 0px 15px 0px rgba(171, 171, 171, 0.3);
  border-radius: 25px;
}

.card-sm:hover footer {
  visibility: unset;
}

.card-sm-avg-rating {
  display: flex;
  flex-direction: row;
  gap: 25px;
  font-size: 0.8em;
  align-items: center;
  color: red;

  #rating {
    margin: 5px;
  }
}

.card-sm-image {
  width: 160px;
  height: 160px;

  background-color: #44a8c4;
  border-radius: 25px;
}

.card-sm-image img {
  max-width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}

.card-sm-info {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-height: 160px;
}

.card-sm-info p {
  font-size: 0.8em;

  overflow: hidden;
}

.card-sm-link {
  display: flex;
  flex-direction: row;
}

.external-link-alt {
  font-size: 0.8em;
}

.link {
  color: #ababab;
}

.link:hover {
  color: #5143b9;
}

/* ---------------------------------------------------
  PIN AND LIKES
----------------------------------------------------- */

.fa-heart:hover {
  color: #5143b9;
}

.fa-plus-square:hover {
  color: #5143b9;
}

.like {
  display: flex;
  flex-direction: row;
}

.like:hover,
.like:active,
.like:focus {
  outline: none;
}

.like-counter {
  font-size: 0.8em;
}

.like,
.fa-external-link-alt {
  color: #ababab;
}

.like:hover,
.fa-external-link-alt:hover {
  color: #5143b9;
}

/* ---------------------------------------------------
  AUTH STYLES
----------------------------------------------------- */

.auth {
  height: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth form {
  width: 50%;
}

.auth form .container {
  display: flex;
  justify-content: space-between;
}

.auth-header {
  margin-bottom: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: #5143b9;
}

.btn:hover {
  background-color: #7469c9;
}

.form-group {
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-group label {
  width: 150px;
}

.login-register-submit {
  margin-top: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-register-submit p {
  color: #ababab;
  font-size: 0.8em;

  margin-top: 50px;
}

.login-register-submit a {
  color: #ababab;
}

.required {
  color: red;
}

/* ---------------------------------------------------
  CARD MODAL POPUP
----------------------------------------------------- */
// controls black out background
.pop-out {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

//controls all styles withing the pop-out card
.pop-content {
  height: 70vh;
  width: 70vw;
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  border: 10px solid black;
  border-color: #516bfd;
  font-family: "Gotham light";
  animation: fadeIn ease 0.2s;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .top-show {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;

    .time {
      margin-top: 10px;
    }
    // controls the model close
    .close {
      transform: rotate(45deg);
      cursor: pointer;
      z-index: 999;
      font-size: 3em;
      margin-top: 0;
      padding: 0;
    }
  }
  header {
    display: flex;
    flex-direction: row;
    height: 100%;
    border: none;
    align-items: flex-start;
    justify-content: flex-start;
    word-wrap: break-word;
    text-align: center;

    img {
      width: 30%;
      height: auto;
      border-radius: 15px;
      justify-self: flex-start;
      margin-left: 50px;
      margin-top: -20px;
    }

    .text {
      display: flex;
      flex-direction: column;
      margin-left: 10%;
      margin-right: 15px;

      h2 {
        font-size: 2.5em;
      }

      p {
        font-size: 1.2em;
      }
    }
  }

  header:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .show {
    visibility: visible;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 1.2em;

    .fa-star {
      color: orange;
    }
  }

  .buttons {
    display: flex;
  }
}

// hide show toggle
.show {
  display: flex;
}
.hide {
  display: none;
}

hr {
  width: 80%;
  margin: auto auto;
  margin-bottom: 40px;
}

.stats {
  display: flex;
  flex-direction: row;
  gap: 25px;

  font-size: 1em;
}

/* ---------------------------------------------------
  SEARCH BAR
----------------------------------------------------- */

#search {
  background: #eeeeee;
  color: #ababab;
  border-radius: 50px;
}

#search::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ababab;
  opacity: 1; /* Firefox */
}

#search:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ababab;
}

#search::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ababab;
}

/* ---------------------------------------------------
  RATINGS
----------------------------------------------------- */

.rate-me {
  direction: rtl;
}

.rate-me input {
  position: absolute;
  left: -999999px;
}

.rate-me label {
  display: inline-block;
}

.rate-me > label:before {
  position: relative;
  font: 1em FontAwesome;
  display: block;
  content: "\f005";
  color: #ccc;
}

.rate-me > label:hover:before,
.rate-me > label:hover ~ label:before,
.rate-me > label.selected:before,
.rate-me > label.selected ~ label:before {
  color: orange;
}

/* -----------------------------------------------------
  Create Form Styles
----------------------------------------------------- */
.create-form {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.create-content {
  height: 70vh;
  width: 70vw;
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid black;
  border-color: #516bfd;
  font-family: "Gotham light";
  animation: fadeIn ease 0.2s;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #create-form {
    width: 60%;
    textarea {
      width: 100%;
    }
  }

  .form-close {
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 999;
    align-self: flex-end;
    justify-content: flex-start;
    font-size: 3em;
    margin-right: 10px;
  }
}
i {
  margin: 1px;
}
/* ---------------------------------------------------
  Edit & Delete styles
----------------------------------------------------- */
.edit-buttons {
  display: flex;
  justify-self: flex-start;
}
#delete:hover {
  font-size: 1.2em;
  color: red;
  transition: font-size 0.1s;
}
.fa-edit:hover {
  font-size: 1.2em;
  color: orange;
  transition: font-size 0.1s;
}
.edit {
  margin: 5px;
}

.edit-content {
  color: #ababab;
  h2 {
    color: black;
    text-decoration: none;
  }
}

// edit form styles
.edit-form {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.edit-content {
  height: 70vh;
  width: 70vw;
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid black;
  border-color: #516bfd;
  font-family: "Gotham light";
  animation: fadeIn ease 0.2s;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #edit-form {
    width: 60%;
    textarea {
      width: 100%;
    }
  }

  .form-close {
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 999;
    align-self: flex-end;
    justify-content: flex-start;
    font-size: 3em;
    margin-right: 10px;
  }
}
i {
  margin: 1px;
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  .sidebar {
    margin-left: -250px;
  }
  .sidebar.active {
    margin-left: 0;
  }
  .content {
    width: 100%;
  }
  .pop-content {
    width: calc(100% - 250px);
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        justify-content: center;
        align-items: center;
      }
    }
  }
}
